[alias]
  a = add
  b = branch
  bd = branch -D
  c = checkout --guess --quiet
  cb = checkout -b
  cv = commit --verbose
  d = diff
  ds = diff --staged
  fa = fetch --all
  fap = fetch --all --prune
  ldo = log --decorate --oneline
  l = log --all --decorate --oneline --graph
  rr = restore
  rrs = restore --staged
  rs = rebase
  rsa = rebase --abort
  rsc = rebase --continue
  rsi = rebase --interactive
  rt = reset
  rth = reset --hard
  s = status --short
[branch]
  sort = -committerdate
[color]
  ui = auto
  status = always
[core]
  editor = vim
  eol = lf
  autocrlf = false
[diff]
  algorithm = histogram
  colorMoved = plain
  renames = copies
[pull]
  ff = only
[push]
  default = current
[rerere]
  enabled = true
