[core]
  editor = vim
  eol = lf
  autocrlf = false
[alias]
  a = add
  ai = add --interactive
  ap = add --patch
  b = branch
  bd = branch -D
  c = checkout --guess --quiet
  cb = checkout -b
  d = diff
  dc = diff --cached
  f = fetch
  fa = fetch --all
  s = status --short
  do = log --decorate --oneline
  adog = log --all --decorate --oneline --graph
  adogs = log --all --decorate --oneline --graph --simplify-by-decoration
[push]
  default = current
[pull]
  ff = only
[color]
  ui = auto
  status = always
[rerere]
  enabled = true
[remote "upstream"]
  fetch = +refs/pull/*:refs/remotes/pr/*
